@charset "utf-8";
/* CSS Document */
.jumbotron{
	background-color:#D8C3A5;
	text-align: center;
}
body{
	background-color:#EAE7DC;
}

#jim .btn{
	background-color: #e98074;
	color: black;
}
#jim .btn:hover{
	font-weight:bold;
}
#jim a:visited{
	color: white;
}