@charset "utf-8";
/* CSS Document */
.jumbotron{
	background-color:#D8C3A5;
	text-align: center;
}
body{
	background-color:#EAE7DC;
}
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #495057;
  background-color:#e98074 ;
  border-color: #dee2e6 #dee2e6 #fff;
  
}
/*.nav-link.active{
	background-color: azure;
}*/
.col-form-label{
	margin-right: 20px;
}
input[type=text]{
	min-width: 200px;
}
#jim .btn{
	background-color: #e98074;
	color: black;
}
#jim .btn:hover{
	font-weight:bold;
}
/*#jim a:visited{
	color: rgb(214, 55, 55);
}*/