@charset "utf-8";
/* CSS Document */
#top{
    /*background-color:#00a99d;*/
    background-image: url(../images/jumboheader.jpg);
    background-size: cover;
    text-align: left;
    background-position: center;
   /* font-family: Bradley Hand, cursive ;
    color:black;
   /* padding: 10em ;*/
   min-height: 400px;
    width:100%;
    background-repeat:no-repeat;
    object-fit: cover;
    position: relative;
}
#bottom{
     background-color:#00a99d;
     text-align: center;
    /*font-family: Bradley Hand, cursive ;*/
}
body{
    background-color:#EAE7DC;
    font-family: 'Architects Daughter', cursive;
}
a:visited{
    color:red;
}
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #00a99d;
  background-color:#EAE7DC ;
  border-color: #EAE7DC #EAE7DC #00a99d #EAE7DC;
}
a:link{
    color: #00a99d;
}
.nav-tabs .nav-link {
  /*color: #00a99d;*/
  background-color:#EAE7DC ;
  /*border-color: #EAE7DC #EAE7DC #ffffff #EAE7DC;*/
}

/*#imaimage {
	display: block;
	margin-left: auto;
	margin-right: auto;
}*/

nav {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.carousel {
	background-color: #bdfff6;
	text-align: center;
	
	font-family: Bradley Hand, cursive ;
}

/*.nav-link.active{
	background-color: azure;
}*/
/*.col-form-label{
	margin-right: 20px;
}*/
/*input[type=text]{
	min-width: 150px;
}
h1{
    margin-bottom: 400px;
}*/
h4{
    position: absolute;
    bottom:5px;
    
    
}


#mylinks a:visited{
	color:#134b47;
}
#mylinks a:hover{
	font-weight:bold;
}
/*
.menuItem{
	padding-bottom: 30px
}

.menuItem p {
	font-size: smaller
}*/
