@charset "utf-8";
/* CSS Document */
.jumbotron{
	background-color:#00a99d;
	text-align: center;
	font-family: fantasy;
}
body{
	background-color:#EAE7DC;
}
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #00a99d;
  background-color:#EAE7DC ;
  border-color: #EAE7DC #EAE7DC #00a99d #EAE7DC;
}

.nav-tabs .nav-link {
  color: #00a99d;
  background-color:#EAE7DC ;
  /*border-color: #EAE7DC #EAE7DC #ffffff #EAE7DC;*/
}

#imaimage {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

nav {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.carousel {
	background-color: #bdfff6;
	text-align: center;
	font-style: italic;
	font-family: fantasy;
}

/*.nav-link.active{
	background-color: azure;
}*/
.col-form-label{
	margin-right: 20px;
}
input[type=text]{
	min-width: 200px;
}
#jim .btn{
	background-color: #e98074;
	color: black;
}
#jim .btn:hover{
	font-weight:bold;
}
/*#jim a:visited{
	color: rgb(214, 55, 55);
}*/

.menuItem{
	padding-bottom: 30px
}

.menuItem p {
	font-size: smaller
}
